<div class="container-fluid">
    <div class="container" style="font-family: 'Indie Flower';">
        <div class="lines">
        <div class="container-fluid">
      
          <div class="row col-sm-8 ">
           <div class="col-sm-8 ">
            {{content.day}}, {{content.date}} <sup>th</sup> {{content.month}}, {{content.year}}</div> <div class="col-sm-4 d-flex justify-content-sm-end">{{content.hour}}</div>
          </div>
          <br>
        <div class="container-fluid">
      
      <p for="add" class="">Dear Diary,</p>
      <div class="col-sm-8">
   
        <p class="story">{{content.story}}</p>
      </div>
      
      
      </div>
      <p>{{content.name}}</p>
      <br>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-10"></div>
      <button class="btn col-sm-1  d-flex justify-content-sm-end font-weight-bold" style="font-size: 35px;" (click)="goBack()">&larr;</button>
      </div>
      </div>
      </div>
</div>