@import url(https://fonts.googleapis.com/css?family=Indie+Flower);

.story{
  display:block;width:100%;padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:#495057;border:0px solid #ced4da;border-radius:.25rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  white-space: pre-wrap;
}